<div>
  <div class="container">
    <h3>
      <app-editable-span [title]="title" (titleChanged)="updateTodolistTitleHandler($event)"></app-editable-span>
    </h3>
    <app-button [title]="'x'" (clicked)="deleteTodolistHandler()"></app-button>
  </div>
  <app-create-item-form [buttonTitle]="'+'" (created)="createTaskHandler($event)"/>
  @if (tasks.length > 0) {
    <ul>
      @for (task of tasks; track task.id) {
        <li>
          <input type="checkbox" [checked]="task.isDone" (change)="changeTaskStatusHandler(task.id, $event)"/>
          <app-editable-span [title]="task.title" (titleChanged)="updateTaskTitleHandler(task.id, $event)"/>
          <app-button [title]="'x'" (clicked)="deleteTaskHandler(task.id)"></app-button>
        </li>
      }
    </ul>
  } @else {
    <p>Нет тасок</p>
  }
  <div>
    <app-button [title]="'All'" (clicked)="changeFilterHandler('all')" [buttonClass]="todolist.filter === 'all' ? 'active' : ''"></app-button>
    <app-button [title]="'Active'" (clicked)="changeFilterHandler('active')" [buttonClass]="todolist.filter === 'active' ? 'active' : ''"></app-button>
    <app-button [title]="'Completed'" (clicked)="changeFilterHandler('completed')" [buttonClass]="todolist.filter === 'completed' ? 'active' : ''"></app-button>
  </div>
</div>
