<header class="header">
  <div class="container">
    <div class="header__burger">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="header__actions">
      <div class="user">
        <div class="common-icon">
          <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div class="user__name">Isabella Goth</div>
      </div>
      <div class="common-icon">
        <i class="fa fa-sign-in" aria-hidden="true"></i>
      </div>
      <!--      <div class="common-icon">-->
      <!--        <i class="fa fa-sign-out" aria-hidden="true"></i>-->
      <!--      </div>-->
      <div class="theme-toggle">
        <div class="common-icon" (click)="toggleTheme()">
          @if (themeMode) {
            <i class="fa fa-sun-o" aria-hidden="true"></i>
          } @else {
            <i class="fa fa-moon-o" aria-hidden="true"></i>
          }
        </div>
        <!--        <input type="checkbox" class="checkbox" id="checkbox" [checked]="themeMode" (change)="onThemeToggle($event)">-->
        <!--        <label for="checkbox" class="checkbox-label">-->
        <!--          <i class="fa fa-sun-o" aria-hidden="true"></i>-->
        <!--          <i class="fa fa-moon-o" aria-hidden="true"></i>-->
        <!--          <span class="ball"></span>-->
        <!--        </label>-->
      </div>
    </div>
  </div>
</header>
<main class="main">
  <div class="container">
    <div class="new-todolist">
      <app-create-item-form
        [buttonTitle]="'+'"
        (created)="createTodolist($event)"
        [buttonClass]="'create-btn'"
      />
    </div>
    <div class="todolists">
      @if (todolists() && todolists().length > 0) {
        @for (todolist of todolists(); track todolist.id) {
          <app-todolist
            [todolist]="todolist"
            [tasks]="getFilteredTasks(tasks()[todolist.id], todolist.filter)"
            [title]="todolist.title"
            (created)="createTask(todolist.id, $event)"
            (deleted)="deleteTask(todolist.id, $event)"
            (statusChanged)="changeTaskStatus(todolist.id, $event)"
            (filtered)="changeFilter(todolist.id, $event)"
            (todolistDeleted)="deleteTodolist(todolist.id)"
            (taskTitleChanged)="updateTaskTitle(todolist.id, $event)"
            (todolistTitleChanged)="updateTodolistTitle(todolist.id, $event)"
          ></app-todolist>
        }
      } @else {
        <p class="empty-block">No todolists</p>
      }
    </div>
  </div>
</main>
